.header {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;

    background: #000000;
}
.line{
    width: 80%;
    margin-top: 79px;
    transition-property: color;
    transition-duration: 6s;

    background: beige;

}
.logo {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 23px;
    margin-left: 6.5%;

}
.helper {
    position: absolute;
    width: 50px;
    height: 10px;
    margin-top: 13px;
    margin-left: 9%;


    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: azure;
}

.logIn {
    position: absolute;
    width: 100px;
    height: 10px;
    margin-top: 10px;
    margin-left: 85%;


    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    color: azure;
}
.log{
    position: absolute;
    padding-left: 1%;
    width: 200px;
    height: 30px;
    margin-top: 25%;
    margin-left: 45%;
    border: none;

}
.line1{
    position: absolute;
    margin-top: 26%;
    width: 200px;
    margin-left: 45%;
    background-color: #191919;
}
.pass{
    position: absolute;
    padding-left: 1%;
    width: 200px;
    height: 30px;
    margin-top: 28%;
    margin-left: 45%;
    border: none;
}
.line2{
    position: absolute;
    margin-top: 29%;
    margin-left: 45%;
    width: 200px;
    background-color: #191919;
}
.inp{
    position: absolute;
    width: 200px;
    height: 30px;
    margin-top: 33%;
    margin-left: 45%;
    border: none;
    background: #272727;
    border-radius: 20px;
}
.exepton {
    position: absolute;
    margin-top: 29%;
    margin-left: 50%;
}
.signIn{
    position: absolute;
    margin-top: 35%;
    margin-left: 50%;

    font-family: Nunito Sans, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #191919;
}
